# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
python37
Build
Code/.vs

output/*
Code/*/debug
Code/*/release
Code/*/Makefile*
Code/Makefile*
Code/PluginFluent/*
cgns/*
cgns00/*
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.stash
*.bat
/Doxygen
/DoxyConfig
/*.nsi
/.vscode
/Code/*.user
/Code/*.sln
/build-FastCAE-Desktop_Qt_5_14_2_MSVC2017_64bit-Debug
Code/FastCAE.pro.user.4f627ea
/src/Copy_Pys.bat
/src/Copy_Pys.sh
/src/Copy_SOs.sh
/src/Create_Linux64_Project.sh
/src/Create_X64_Project.bat
/src/FastCAE.pro
/src/hdf5.pri
/src/occ.pri
/src/python.pri
/src/qwt.pri
/src/Run_MSVC.bat
/src/tecio.pri
/src/Translate.bat
/src/vtk.pri
/src/cgns.pri
/src/Copy_DLLs.bat
/src/BCBase/BCBase.pro
/src/BCBase/_Create_Project.bat
/src/BCBase/_Create_project.sh
/src/BCBase/BCBase.pri
/src/ConfigOptions/ConfigOptions.pro
/src/ConfigOptions/_Create_Project.bat
/src/ConfigOptions/_Create_project.sh
/src/ConfigOptions/ConfigOptions.pri
/src/DataProperty/DataProperty.pro
/src/DataProperty/_Create_Project.bat
/src/DataProperty/_Create_project.sh
/src/DataProperty/DataProperty.pri
/src/geometry/geometry.pro
/src/geometry/_Create_Project.bat
/src/geometry/_Create_project.sh
/src/geometry/geometry.pri
/src/GeometryCommand/GeometryCommand.pro
/src/GeometryCommand/_Create_Project.bat
/src/GeometryCommand/_Create_project.sh
/src/GeometryCommand/GeometryCommand.pri
/src/GeometryDataExchange/GeometryDataExchange.pro
/src/GeometryDataExchange/_Create_Project.bat
/src/GeometryDataExchange/_Create_project.sh
/src/GeometryDataExchange/GeometryDataExchange.pri
/src/GeometryWidgets/GeometryWidgets.pri
/src/GeometryWidgets/GeometryWidgets.pro
/src/GeometryWidgets/_Create_project.sh
/src/GeometryWidgets/_Create_Project.bat
/src/GmshModule/GmshModule.pri
/src/GmshModule/GmshModule.pro
/src/GmshModule/_Create_Project.bat
/src/GmshModule/_Create_project.sh
/src/IO/IO.pri
/src/IO/IO.pro
/src/IO/_Create_Project.bat
/src/IO/_Create_project.sh
/src/License/License.pri
/src/License/License.pro
/src/License/_Create_Project.bat
/src/License/_Create_project.sh
/src/MainWidgets/MainWidgets.pri
/src/MainWidgets/MainWidgets.pro
/src/MainWidgets/_Create_Project.bat
/src/MainWidgets/_Create_project.sh
/src/mainWindow/mainWindow.pri
/src/mainWindow/mainWindow.pro
/src/mainWindow/_Create_Project.bat
/src/mainWindow/_Create_project.sh
/src/Material/Material.pri
/src/Material/Material.pro
/src/Material/_Create_Project.bat
/src/Material/_Create_project.sh
/src/meshData/meshData.pro
/src/meshData/_Create_Project.bat
/src/meshData/_Create_project.sh
/src/meshData/meshData.pri
/src/ModelData/ModelData.pri
/src/ModelData/ModelData.pro
/src/ModelData/_Create_Project.bat
/src/ModelData/_Create_project.sh
/src/moduleBase/moduleBase.pri
/src/moduleBase/moduleBase.pro
/src/moduleBase/_Create_Project.bat
/src/moduleBase/_Create_project.sh
/src/ParaClassFactory/ParaClassFactory.pro
/src/ParaClassFactory/_Create_Project.bat
/src/ParaClassFactory/_Create_project.sh
/src/ParaClassFactory/ParaClassFactory.pri
/src/PluginCustomizer/PluginCustomizer.pri
/src/PluginCustomizer/PluginCustomizer.pro
/src/PluginCustomizer/_Create_Project.bat
/src/PluginCustomizer/_Create_project.sh
/src/PluginManager/PluginManager.pri
/src/PluginManager/PluginManager.pro
/src/PluginManager/_Create_Project.bat
/src/PluginManager/_Create_project.sh
/src/PluginMeshDataExchange/PluginMeshDataExchange.pro
/src/PluginMeshDataExchange/_Create_Project.bat
/src/PluginMeshDataExchange/_Create_project.sh
/src/PluginMeshDataExchange/PluginMeshDataExchange.pri
/src/PostAlgorithm/PostAlgorithm.pri
/src/PostAlgorithm/PostAlgorithm.pro
/src/PostAlgorithm/_Create_Project.bat
/src/PostCurveDataManager/PostCurveDataManager.pri
/src/PostCurveDataManager/PostCurveDataManager.pro
/src/PostInterface/PostInterface.pri
/src/PostInterface/PostInterface.pro
/src/PostInterface/_Create_Project.bat
/src/PostPlotWidget/PostPlotWidget.pri
/src/PostPlotWidget/PostPlotWidget.pro
/src/PostRenderData/PostRenderData.pri
/src/PostRenderData/PostRenderData.pro
/src/PostRenderData/_Create_Project.bat
/src/PostWidgets/PostWidgets.pri
/src/PostWidgets/PostWidgets.pro
/src/PostWidgets/_Create_Project.bat
/src/PostWidgets/_Create_project.sh
/src/ProjectTree/ProjectTree.pri
/src/ProjectTree/ProjectTree.pro
/src/ProjectTree/_Create_Project.bat
/src/ProjectTree/_Create_project.sh
/src/ProjectTreeExtend/ProjectTreeExtend.pro
/src/ProjectTreeExtend/_Create_Project.bat
/src/ProjectTreeExtend/_Create_project.sh
/src/ProjectTreeExtend/ProjectTreeExtend.pri
/src/SARibbonBar/_Create_Project.bat
/src/SelfDefObject/SelfDefObject.pri
/src/SelfDefObject/SelfDefObject.pro
/src/SelfDefObject/_Create_Project.bat
/src/SelfDefObject/_Create_project.sh
/src/settings/settings.pro
/src/settings/_Create_Project.bat
/src/settings/_Create_project.sh
/src/settings/settings.pri
/src/SolverControl/SolverControl.pri
/src/SolverControl/SolverControl.pro
/src/SolverControl/_Create_Project.bat
/src/SolverControl/_Create_project.sh
/src/UserGuidence/UserGuidence.pro
/src/UserGuidence/_Create_Project.bat
/src/UserGuidence/_Create_project.sh
/src/UserGuidence/UserGuidence.pri
/src/XGenerateReport/XGenerateReport.pri
/src/XGenerateReport/XGenerateReport.pro
/src/XGenerateReport/_Create_Project.bat
/src/XGenerateReport/_Create_project.sh
